---
import { Icon } from 'astro-icon/components';
---
<div id="main-menu" class="nav-links">
  <a href="/">
    <Icon name="system-uicons:home-door" class="icon" /> Home
  </a>
  <a href="/about/">
    <Icon name="system-uicons:user" class="icon" /> About
  </a>
  <a href="/blog/">
    <Icon name="system-uicons:document-stack" class="icon" /> Blog
  </a>
</div>
